/* AnswerButton.css */

.answer-button {
    padding: 8px 16px;
    font-size: 0.7rem;
    color: rgba(159, 195, 123, 1); /* Font color */
    background-color: transparent; /* No background color */
    border: 2px solid rgba(159, 195, 123, 1); /* Border with specified color */
    border-radius: 2px;
    cursor: pointer;
    width: 250px;
    min-width: 200px;
    max-width: 300px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover transition */
}

.answer-button:hover {
    background-color: rgba(159, 195, 123, 1); /* Background color on hover */
    color: #f8f4e1; /* Font color on hover */
}

.answer-button.selected {
    background-color: rgba(159, 195, 123, 1); /* Background color when selected */
    color: #f8f4e1; /* Font color when selected */
}

.answer-button:disabled {
    background-color: transparent; /* No background color */
    border-color: #ccc; /* Grey border for disabled */
    color: #ccc; /* Grey text for disabled */
    cursor: not-allowed;
}
