.background123 {
  display: flex;
  justify-content: flex-end; /* Push child elements to the right */
  align-items: flex-start;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  background-color: #f8f4e1;
  background-image: url('/public/questions_background.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile-page {
  width: 60%;
  padding: 10px;
  height: 92%; /* Match the parent's height */
  margin: 20px auto;
  background-color: #fff8eb;
  z-index: 10;
}

.profile-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #3d5a40;
}

.profile-card {
  background: linear-gradient(135deg, #e3f2e1, #d0e9d4);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.profile-info h2 {
  font-size: 36px;
  font-weight: 500;
  color: #619b62;
}

.profile-info p, label {
  font-size: 1.2rem;
  margin: 10px 0;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
}

button {
  background-color: #5ca36a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #4e9358;
}

.statement {
  font-size: 2.5rem;
  font-weight: bold;
}

.badges-placeholder {
  text-align: center;
  font-style: italic;
  color: #888;
  padding: 20px;
  background-color: #eef7ee;
  border-radius: 10px;
}

.history-entry {
  background-color: #f1f8f2;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.area-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.strengths-section, .improvements-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
  gap: 20px;
}

.area-section h2 {
  font-weight: 500;
}

.score h2 {
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 40px;
  margin-bottom: 10px;
}

.card {
  position: relative;
  width: 250px;
  height: 60px;
  margin-left: 20px;
  line-height: 20px;
  perspective: 1000px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .front {
  display: flex;
  align-items: center;
  padding-left: 30px;
  background-color: #4CAF50;
  color: white;
}

.card .back {
  width: 470px;
  line-height: 15px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4CAF50;
  color: #fff;
  transform: rotateY(180deg) translateX(50%);
}

