
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #545f48;
  background-image: url('/public/questions_background.gif');
  background-size: fill;
  background-position: top center; /* Keeps the background image aligned at the top */
  background-repeat: no-repeat;
}