.chat-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 8px;
  right: 8px;
  width: 350px;
  height: 50vh;
  background-color: #f8f4e1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 8px;
  z-index: 100;
  transition: all 0.3s ease;
}

.chat-container.expanded {
  width: 500px;
  height: 75vh;
}

.chat-history {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 8px;
  margin-bottom: 8px;
}

.empty-chat-message {
  text-align: center;
  font-size: large;
  padding: 40px;
  color: #333;
}

.message {
  max-width: 75%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.message-bot {
  background-color: #9fc37b;
  margin-left: 10px;
  border: 1px solid #afc47c;
}

.message-user {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: 10px;
  border: 1px solid #dfd087;
}

.message-input {
  display: flex;
  gap: 10px;
}

.message-input input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 20px;
}

.send-button {
  background-color: #98c379;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.open-chat-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #98c379;
  border: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.expand-button {
  position: absolute;
  top: 8px;
  left: 8px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
