.footer {
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}

.footer-image-wrapper {
  width: 100%;
  height: auto;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex; /* Flexbox ensures alignment */
  justify-content: center;
}

.footer-image {
  width: 100%;
  height: auto;
  display: block;
}

.footer-content {
  width: 100%;
  /* max-width: 1200px; Ensures the content remains centered */
  margin: 0 auto;
  padding: 0 20px;
  background-color: #9FC37B;
  text-align: center;
}


.team-section {
  margin-top: 20px;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 20px;
  justify-items: start;
}

.team-member {
  display: flex;
  align-items: center;
}

.team-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.footer-team {
  flex: 4; /* 2/3 of the space */
  padding-right: 20px;
}

.footer-notifications {
  margin-top: 5%;
  flex: 3; /* 1/3 of the space */
  text-align: center;
}

.footer-divider {
  width: 1px;
  background-color: #9FC37B;
  margin: 0 20px;
}

.footer h2,
.footer h3 {
  color: #fff8eb;
}

.footer p {
  font-size: 16px;
  color: #fff8eb;
}

.footer-notifications input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #3A5E20;
  border-radius: 4px;
}

.footer-notifications button {
  background-color: #F15824;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.footer-notifications button:hover {
  background-color: #F15824;
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer-team,
  .footer-notifications {
      flex: none;
      width: 100%;
      text-align: center;
      padding: 10px 0;
  }

  .footer-divider {
      display: none;
  }
}

.footer-image-wrapper {
  display: block;
  width: 100%;
  height: auto;
  background-color: transparent !important;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}
